$color-primary: #689abc;
$color-white: #fff;
$color-light: #fcfcfc;
$color-grey-light: #ececec;
$color-grey-dark: #dddddd;
$color-dark: #333333;

$font-regular: 'Barlow', sans-serif;
$font-accent: 'Grenze Gotisch', cursive;

$text-title: 4.5rem;
$text-normal: 1.5rem;
$text-small: 1rem;

$gutter-ultra-min: 1rem;
$gutter-min: 2.5rem;
$gutter-max: 5rem;
$gutter-ultra-max: 7.5rem;
